* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
body, html {
  margin: 0; padding: 0; width: 100%; height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.6;
  font-size: 22px;
}
.hero {
  height: 100%;
  margin: 0;
}
.header-bar {
  height: 100px;
  background: rgb(220, 233, 245);
  border-bottom: 1px solid rgb(192,214,234);
  color: rgb(68,68,68);
  margin: 0;
  padding: 1em 3em;
}
.header-bar:after {
  content: "";
  display: table;
  clear: both;
}
.left, .right {
  float: left;
  width: 50%;
}
.right {
  text-align: right;
}
.nav ul {
  list-style: none;
  margin: 0.5em 0;
}
.nav li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 18px;
}
.nav a, .nav a:visited, .nav a:active {
  color: rgb(68,68,68);
  text-decoration: none;
}
.header-bar h2 {
  margin: 0.4em 0;
  font-size: 25px;
  font-weight: bold;
}
.section {
  margin: 0;
  padding: 3em 0;
  border-bottom: 1px solid rgb(202,202,202);
}
.section:after {
  content: "";
  display: table;
  clear: both;
}
.section .description {
  float: left;
  width: 50%;
  padding: 0 3em;
  color: rgb(68,68,68);
}
.section .illustration {
  float: left;
  width: 50%;
}
.footer {
  background: rgb(238, 238, 238);
  padding: 3em;
}
.footer .left, .footer .right {
  font-size: 12px;
}
canvas { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  font-size: 84px;
  font-weight: 100;
  position: relative;
  margin: 0 auto 0;
  width: 7em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid;
  padding: 0.2em;
}
h1 strong {
  font-weight: 200;
}
h2, h3 { font-weight: normal; }
h2, h2 a, h2 a:visited, h2 a:active {
  color: rgb(68,68,68);
  text-decoration: none;
  font-size: 45px;
  font-weight: 200;
  margin: 0;
}
h3 {
  color: rgb(119,119,119);
  font-size: 25px;
  font-weight: 100;
  margin: 0 0 1em;
}
p { font-weight: 200; }
img {
  width: 100%;
  border: none;
}
a, a:visited, a:active {
  color: rgb(89, 154, 212);
}
